<template>
    <div>
        <h2 class="text-center">Events List</h2>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>description</th>
                <!-- <th>Actions</th> -->
            </tr>
            </thead>
            <tbody>
            <tr v-for="event in events" :key="event.id">
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: event.id }}" class="btn btn-success">Edit</router-link>
                        <button class="btn btn-danger" @click="deleteEvent(event.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            events: []
        }
    },
    created() {
        this.axios
            .get('events/')
            .then(response => {
                this.events = response.data;
            });
    },
    methods: {
        deleteEvent(id) {
            this.axios
                .delete(`events/${id}`)
                .then(response => {
                    let i = this.events.map(data => data.id).indexOf(id);
                    this.events.splice(i, 1)
                });
        }
    }
}
</script>
