<template>
    <div>
        <h3 class="text-center">Create Event</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addEvent">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="event.name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" v-model="event.description">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            event: {}
        }
    },
    methods: {
        addEvent() {
            this.axios
                .post('events', this.event)
                .then(response => (
                    this.$router.push({ name: 'home' })
                ))
                .catch(err => console.log(err))
                .finally(() => this.loading = false)
        }
    }
}
</script>
