<template>
    <div>
        <h3 class="text-center">Edit Event</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateEvent">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="event.name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" v-model="event.description">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            event: {}
        }
    },
    created() {
        this.axios
            .get(`/events/${this.$route.params.id}`)
            .then((res) => {
                this.event = res.data;
            });
    },
    methods: {
        updateEvent() {
            this.axios
                .patch(`/events/${this.$route.params.id}`, this.event)
                .then((res) => {
                    this.$router.push({ name: 'home' });
                });
        }
    }
}
</script>
